.task-list {
  margin: 20px;
}

.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.task-item-todo {
  background-color: #ffcccb;
}

.task-item-in-progress {
  background-color: #c2c2c2;
}

.task-item-done {
  background-color: #b8e994;
}

.task-controls {
  display: flex;
  justify-content: space-between;
}
